<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/lib/testing/tests" />
        <option value="$PROJECT_DIR$/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/lib/dml/tests" />
        <option value="$PROJECT_DIR$/lib/tests" />
        <option value="$PROJECT_DIR$/favourites/tests" />
        <option value="$PROJECT_DIR$/lib/form/tests" />
        <option value="$PROJECT_DIR$/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/files/tests" />
        <option value="$PROJECT_DIR$/filter/tests" />
        <option value="$PROJECT_DIR$/admin/roles/tests" />
        <option value="$PROJECT_DIR$/cohort/tests" />
        <option value="$PROJECT_DIR$/lib/grade/tests" />
        <option value="$PROJECT_DIR$/grade/tests" />
        <option value="$PROJECT_DIR$/grade/grading/tests" />
        <option value="$PROJECT_DIR$/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/analytics/tests" />
        <option value="$PROJECT_DIR$/availability/tests" />
        <option value="$PROJECT_DIR$/backup/controller/tests" />
        <option value="$PROJECT_DIR$/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/backup/tests" />
        <option value="$PROJECT_DIR$/backup/util" />
        <option value="$PROJECT_DIR$/badges/tests" />
        <option value="$PROJECT_DIR$/blog/tests" />
        <option value="$PROJECT_DIR$/customfield/tests" />
        <option value="$PROJECT_DIR$/iplookup/tests" />
        <option value="$PROJECT_DIR$/course/tests" />
        <option value="$PROJECT_DIR$/course/format/tests" />
        <option value="$PROJECT_DIR$/privacy/tests" />
        <option value="$PROJECT_DIR$/question/engine/tests" />
        <option value="$PROJECT_DIR$/question/tests" />
        <option value="$PROJECT_DIR$/question/type/tests" />
        <option value="$PROJECT_DIR$/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/cache/tests" />
        <option value="$PROJECT_DIR$/calendar/tests" />
        <option value="$PROJECT_DIR$/enrol/tests" />
        <option value="$PROJECT_DIR$/group/tests" />
        <option value="$PROJECT_DIR$/lib/external/tests" />
        <option value="$PROJECT_DIR$/message/tests" />
        <option value="$PROJECT_DIR$/notes/tests" />
        <option value="$PROJECT_DIR$/tag/tests" />
        <option value="$PROJECT_DIR$/rating/tests" />
        <option value="$PROJECT_DIR$/repository/tests" />
        <option value="$PROJECT_DIR$/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/user/tests" />
        <option value="$PROJECT_DIR$/webservice/tests" />
        <option value="$PROJECT_DIR$/mnet/tests" />
        <option value="$PROJECT_DIR$/completion/tests" />
        <option value="$PROJECT_DIR$/comment/tests" />
        <option value="$PROJECT_DIR$/search/tests" />
        <option value="$PROJECT_DIR$/competency/tests" />
        <option value="$PROJECT_DIR$/my/tests" />
        <option value="$PROJECT_DIR$/auth/tests" />
        <option value="$PROJECT_DIR$/blocks/tests" />
        <option value="$PROJECT_DIR$/login/tests" />
        <option value="$PROJECT_DIR$/plagiarism/tests" />
        <option value="$PROJECT_DIR$/portfolio/tests" />
        <option value="$PROJECT_DIR$/lib/editor/tests" />
        <option value="$PROJECT_DIR$/rss/tests" />
        <option value="$PROJECT_DIR$/lib/table/tests" />
        <option value="$PROJECT_DIR$/h5p/tests" />
        <option value="$PROJECT_DIR$/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/contentbank/tests" />
        <option value="$PROJECT_DIR$/payment/tests" />
        <option value="$PROJECT_DIR$/reportbuilder/tests" />
        <option value="$PROJECT_DIR$/admin/presets/tests" />
        <option value="$PROJECT_DIR$/admin/tests" />
      </list>
    </option>
  </component>
</project>