{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_grid/grid_completion

    Single page summary image.

    Context variables required for this template:
    * percentagecolour - The colour indicator, low (< 11), medium (between 11 and 89) or high (> 89).
    * percentagequarter - The colour border quarter indicator, 0 (< 1), 1 (between 1 and 25), 2 (between 26 and 50), 3 (between 51 and 75) or 4 (> 75).

    Example context (json):
    {
        "percentagecolour": "medium",
        "percentagequarter": 2,
        "percentagevalue": 42
    }
}}
<div class="grid-completion grid-completion-colour-{{percentagecolour}} grid-completion-percentagequarter-{{percentagequarter}}">
    <span class="grid-percentage grid-percentagevalue-{{percentagevalue}}" title="{{percentagevalue}}%">{{percentagevalue}}%</span>
</div>
