<style>
    .icon.activityicon.nofilter {
        width: 50px !important;
        height: 50px;
    }

    .activity-header {
        display: none;
    }

    .ml-wrapper {
        max-width: 830px;
        margin: 0 auto;
    }

    .ml-content {
        margin-top: 30px;
        padding: 20px 15px;
    }

    .ml-content.ml-content-assign {
        background-color: #F8F9FA;
        border-radius: 20px;
    }

    .ml-content.ml-content-control {
        padding: 0px;
    }

    .ml-assign-status {
        margin-bottom: 30px;
    }

    .ml-assign-status-content {
        border: 1px solid #888;
        font-size: 14px;
        background-color: #F8F9FA;
        color: #B6BBBF;
        padding: 6px 15px;
        border-radius: 5px;
    }
    /*For done status*/
    .ml-assign-status-content.ml-assign-status-content--done {
        color: #fff;
        background-color: #509b39;
        border: 1px solid #509b39;
    }

    .ml-assign-time-value {
        font-size: 16px;
    }

    .ml-assign-description-title {
        font-size: 20px;
    }

    .ml-assign-description-content {
        font-size: 16px;
    }

    .ml-button {
        text-decoration: none;
        color: #333;
        background-color: #CED4DA;
        padding: 8px 10px;
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: opacity linear 0.2s;
        border: none;
        outline: none;
    }

    .ml-button:hover {
        text-decoration: none;
        color: #333;
        opacity: 0.8;
    }

    .ml-button.ml-button--edit {
        color: #fff;
        background-color: #0F6CBF;
    }

    .ml-summary-table td {
        padding: 5px 10px;
    }

    .ml-summary-table td {
        border: 1px solid #DFE3E6;
        color: #555;
        background-color: #F7F7F7;
    }

    .ml-summary-table tr:nth-child(2) td{
        background-color: #fff;
    }

    .ml-summary-table tr td:nth-child(1) {
        width: 30%;
        font-weight: 700;
    }

    /* Style submission */
    .ml-content.ml-content-submission {
        padding: 0;
    }

    .ml-submission-title {
        font-size: 26px;
    }

    .ml-submission-text {
        margin-top: 20px;
    }

    .ml-submission-text-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .ml-submission-text-input {
        width: 100%;
        height: 250px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 20px;
        background-color: #fff;
        color: #333;
        resize: none;
    }

    .ml-submission-file {
        margin-top: 20px;
    }

    .ml-submission-file-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .ml-content.ml-content-control {
        margin-top: 50px;
    }

    /* Form for AI question generator */
    .ml-submit-ai-form {

    }

    .ml-submit-ai-group {
        display: flex;
        flex-direction: column;
    }

    .ml-submit-ai-question {

    }

    .ml-submit-ai-input {
        width: 100%;
        height: 100px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
        color: #333;
        resize: none;
    }

    .ml-button-group {
        margin-top: 20px;
    }

</style>

<div class="ml-wrapper">
    <!--  Describe assignment-->
    <div class="ml-content ml-content-assign">
        <div class="ml-assign-status">
            <span class="ml-assign-status-content">
                Pending
            </span>
        </div>
        <hr>
        <div class="ml-assign-time">
            <p class="ml-assign-time-value">
                <b>Opened: </b>Thursday, 12 October 2023, 12:00 AM
            </p>
            <p class="ml-assign-time-value">
                <b>Due: </b>Thursday, 19 October 2023, 12:00 AM
            </p>
        </div>
        <hr>
        <div class="ml-assign-description">
            {{# manual_assign}}
                <div class="ml-assign-description">
                    <h2 class="ml-assign-description-title">Description</h2>
                    <p class="ml-assign-description-content">
                        {{ question }}
                    </p>
                </div>
            {{/ manual_assign}}
            <!--  For AI question generation   -->
            {{# ai_assign}}
                <div class="ml-assign-description">
                    <h2 class="ml-assign-description-title">Description</h2>

                    <p class="ml-assign-file-title">Read the following file and answer the questions below:</p>
                    <a class="ml-assign-file" href="{{ file_path }}" target="_blank">
                        <i class='ml-assign-file-icon bx bx-file'></i>
                        {{ file_name }}
                    </a>

                    <p class="ml-assign-question-title">Questions</p>
                    <ol class="ml-assign-question-list">
                        {{# generated_questions }}
                            <li class="ml-assign-question">{{ question }}</li>
                        {{/generated_questions }}
                    </ol>

                </div>
            {{/ai_assign}}

        </div>
    </div>

    <!--  Add submission  -->
    <div class="ml-content ml-content-submission">
        <h2 class="ml-submission-title">
            Add submission
        </h2>
        <!--   Form for submitting AI question -->
        {{# ai_assign }}
        <form action="" class="ml-submit-ai-form" method="POST">
            {{# generated_questions }}
             <div class="ml-submit-ai-group">
                 <label for="question{{ id }}" class="ml-submit-ai-question">{{ id }}. {{ question }}</label>
                 <textarea onfocusin="removeLeadingTrailingSpaces(this);"
                           name="question{{ id }}" class="ml-submit-ai-input" type="text" id="question{{ id }}">
                     {{ answer }}
                 </textarea>
             </div>
            {{/generated_questions}}
            <div class="ml-button-group">
                <button class="ml-button ml-button--edit">Save changes</button>
                <a href="http://localhost/mod/demo/view.php?id={{ course_id }}"
                class="ml-button">Cancel</a>
            </div>

        </form>
        {{/ai_assign}}

        <!--   Form for submitting manual question -->
        {{# manual_assign }}
        <div class="ml-submission-text">
            <h3 class="ml-submission-text-title">
                Online text
            </h3>
            <form action="" method="post" enctype="multipart/form-data">
                <textarea onfocusin="removeLeadingTrailingSpaces(this);"
                          name="answer" id="" cols="30" rows="10" class="ml-submission-text-input">
                    {{ answer }}
                </textarea>

                <div class="ml-button-group">
                    <button class="ml-button ml-button--edit">Save changes</button>
                    <a href="http://localhost/mod/demo/view.php?id={{ course_id }}"
                    class="ml-button">Cancel</a>
                </div>
            </form>
        </div>
        {{/manual_assign}}

        {{# vietnamese_assign }}
        <form action="" class="ml-submit-ai-form" method="POST">
            {{# vietnamese_questions }}
             <div class="ml-submit-ai-group">
                 <label for="question{{ id }}" class="ml-submit-ai-question">{{ id }}. {{ question }}</label>
                 <textarea onfocusin="removeLeadingTrailingSpaces(this);"
                           name="question{{ id }}" class="ml-submit-ai-input" type="text" id="question{{ id }}">
                    {{ answer }}
                 </textarea>
             </div>
            {{/vietnamese_questions}}
            <div class="ml-button-group">
                <button class="ml-button ml-button--edit">Save changes</button>
                <a href="http://localhost/mod/demo/view.php?id={{ course_id }}"
                class="ml-button">Cancel</a>
            </div>

        </form>
        {{/ vietnamese_assign }}

    </div>
</div>


<script>
    // Change icon AI Assignment
    let img = document.querySelector('.icon.activityicon.nofilter')
    img.src = "https://thumbs.dreamstime.com/b/artificial-intelligence-ai-processor-chip-vector-icon-symbol-graphic-design-logo-web-site-social-media-mobile-app-ui-158205566.jpg"

    function removeLeadingTrailingSpaces(textarea) {
        textarea.value = textarea.value.trim();
    }

    // Xử lý khoảng trống của textarea
    let aiInputs = document.querySelectorAll('.ml-submit-ai-input')
    console.log(aiInputs)
    aiInputs.forEach(input => {
        removeLeadingTrailingSpaces(input)
    })

    let manualInput = document.querySelector('.ml-submission-text-input')
    removeLeadingTrailingSpaces(manualInput)

    function onPageLoad() {
        let textareas = document.querySelectorAll('.ml-submit-ai-input')
        Array.from(textareas).forEach(textarea => {
            removeLeadingTrailingSpaces(textarea);
        })
    }

    // Gắn hàm onPageLoad vào sự kiện tải trang (DOMContentLoaded)
    document.addEventListener("DOMContentLoaded", onPageLoad);
</script>