<script>
    // Change icon AI Assignment
    let images = document.querySelectorAll('.modtype_demo img')
    images.forEach(image => {
        image.src = "https://thumbs.dreamstime.com/b/artificial-intelligence-ai-processor-chip-vector-icon-symbol-graphic-design-logo-web-site-social-media-mobile-app-ui-158205566.jpg"
        image.style.width = '50px'
        image.style.height = '50px'
    })

    let openButtons = document.querySelectorAll('[data-action="open-chooser"]');
    // let aiBlock = document.querySelectorAll('[aria-label="[[modulename]]"]');

    console.log(document.querySelectorAll('.modal'))

    openButtons.forEach(button => {
        document.addEventListener('DOMContentLoaded', function() {
        button.onclick = function() {
            let aiBlock = document.querySelectorAll('.modal');
            console.log(aiBlock);
        }
        })
    })


</script>