<style>
    .icon.activityicon.nofilter {
        width: 50px !important;
        height: 50px;
    }

    .activity-header {
        display: none;
    }

    .ml-wrapper {
        max-width: 830px;
        margin: 0 auto;
    }

    .ml-content {
        margin-top: 30px;
        padding: 20px 15px;
    }

    .ml-content.ml-content-assign {
        background-color: #F8F9FA;
        border-radius: 20px;
    }

    .ml-content.ml-content-control {
        padding: 0px;
    }

    .ml-content.ml-content-summary {
        margin-top: 40px;
        padding: 0px;
    }

    .ml-assign-status {
        margin-bottom: 30px;
    }

    .ml-assign-status-content {
        border: 1px solid #888;
        font-size: 14px;
        background-color: #F8F9FA;
        color: #B6BBBF;
        padding: 6px 15px;
        border-radius: 5px;
    }
    /*For done status*/
    .ml-assign-status-content.ml-assign-status-content--done {
        color: #fff;
        background-color: #509b39;
        border: 1px solid #509b39;
    }

    .ml-assign-time-value {
        font-size: 16px;
    }

    .ml-assign-description-title {
        font-size: 20px;
    }

    .ml-assign-description-content {
        font-size: 16px;
    }

    .ml-button {
        text-decoration: none;
        color: #333;
        background-color: #CED4DA;
        padding: 8px 10px;
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: opacity linear 0.2s;
    }

    .ml-button:hover {
        text-decoration: none;
        color: #333;
        opacity: 0.8;
    }

    .ml-button.ml-button--edit {
        color: #fff;
        background-color: #0F6CBF;
    }

    .ml-summary-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .ml-summary-table {
        width: 100%;
        font-size: 16px;
    }

    .ml-summary-table td, .ml-summary-table th {
        padding: 5px 10px;
    }

    .ml-summary-table th {
        border: 1px solid #DFE3E6;
        color: #555;
        background-color: #F7F7F7;
    }

    .ml-summary-table td {
        border: 1px solid #DFE3E6;
        color: #555;
        background-color: #fff;
    }

    .ml-summary-table tr:nth-child(2) td{
        background-color: #fff;
    }

    .ml-grade {
        display: inline-block;
    }

    .ml-button--extra {
        background-color: rgba(239, 85, 125, 0.85);
        color: #fff;
    }

    .ml-button--extra:hover {
        color: #fff;
    }

    .ml-none-submission {
        color: #888;
        font-weight: 600;
        font-size: 20px;
    }

</style>

<div class="ml-wrapper">
    <!-- Summary assignment-->
    <div class="ml-content ml-content-summary">
        <div class="ml-summary">
            <h2 class="ml-summary-title">
                Submissions
            </h2>
            {{ submissions }}
            {{# has_submission }}
                <table class="ml-summary-table">
                    <tr>
                        <th>Full Name</th>
                        <th>Email address</th>
                        <th>Status</th>
                        <th>Grade</th>
                        <th>Edit Grade (If graded)</th>
                    </tr>
                    {{# users }}
                    <tr>
                        <td>{{ fullname }}</td>
                        <td>{{ email }}</td>
                        <td>Submitted</td>
                        <td>
                            {{# grade }} {{ grade }} {{/grade}}
                            {{^ grade }}
                                <a href="http://localhost/mod/demo/view.php?id={{module_instance}}&action=grading&id-ass={{ id_ass }}&id-user={{ id }}" class="ml-button ml-button--edit ml-grade">Grade</a>
                            {{/grade}}
                        </td>
                        <td>
                            {{# grade }}
                                <a href="http://localhost/mod/demo/view.php?id={{module_instance}}&action=grading&id-ass={{ id_ass }}&id-user={{ id }}&edit=true" class="ml-button ml-button--edit ml-grade">Edit</a>
                            {{/grade}}
                            {{^ grade }}
                                No Grading
                            {{/grade}}
                        </td>
                    </tr>
                    {{/users}}

                </table>
            {{/has_submission}}
            {{^ has_submission }}
                <h3 class="ml-none-submission">There are no submissions at all.</h3>
            {{/has_submission}}

        </div>
    </div>

    <!-- Control assignment -->
    <div class="ml-content ml-content-control">
        <div class="ml-button-group">
            <a href="http://localhost/mod/demo/view.php?id={{ course_id }}" class="ml-button">Back</a>
            {{# has_submission }}
                <a class="ml-button ml-button--extra">Help Grading with AI</a>
            {{/has_submission}}

        </div>
    </div>
</div>


<script>
    // Change icon AI Assignment
    let img = document.querySelector('.icon.activityicon.nofilter')
    img.src = "https://thumbs.dreamstime.com/b/artificial-intelligence-ai-processor-chip-vector-icon-symbol-graphic-design-logo-web-site-social-media-mobile-app-ui-158205566.jpg"

    // Change module Name
    let moduleName = document.querySelector('.active.active_tree_node.nav-link')
    moduleName.innerText = 'AI Assignment'
</script>